[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-widget-tweaks = "*"
whitenoise = "*"
dj-database-url = "*"
python-decouple = "*"
django = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.14"
