{% extends 'investimentos/base.html' %}
{% block conteudo %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Detalhe do investimento</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Investimento</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ dados.id }}</td>
                <td>{{ dados.investimento }}</td>
                <td>{{ dados.valor }}</td>
                <td>{{ dados.data }}</td>
                <td>{{ dados.pago }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'investimentos' %}" class="btn btn-secondary">Voltar</a>
</div>
{% endblock %}
