{% extends 'investimentos/base.html' %}
{% block conteudo %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Listagem de investimentos</h1>

    <a href="{% url 'novo_investimento' %}" class="btn btn-success mb-3">Novo investimento</a>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Investimento</th>
                <th>Valor</th>
                <th colspan="3">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in dados %}
            <tr>
                <td>{{ dado.id }}</td>
                <td>{{ dado.investimento }}</td>
                <td>{{ dado.valor }}</td>
                <td><a href="{% url 'detalhes' dado.id %}" class="btn btn-info btn-sm">Detalhe</a></td>
                <td><a href="{% url 'editar' dado.id %}" class="btn btn-warning btn-sm">Editar</a></td>
                <td><a href="{% url 'excluir' dado.id %}" class="btn btn-danger btn-sm">Excluir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
