{% extends 'investimentos/base.html' %}
{% block conteudo %}
{% load widget_tweaks %}
<div class="container mt-4">
    <h1 class="mb-4">Formulário Novo Investimento</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-12">
                <label class="form-label">Investimento</label>
                {% render_field formulario.investimento class="form-control" %}
            </div>
            <div class="col-12">
                <label class="form-label">Valor</label>
                {% render_field formulario.valor class="form-control ps-2" %}
            </div>
            <div class="col-12">
                <label class="form-label">Pago</label>
                {% render_field formulario.pago class="form-check-input" %}
            </div>
            <div class="col-12">
                <label class="form-label">Data</label>
                {% render_field formulario.data class="form-control" %}
            </div>
        </div>
        <button class="btn btn-success mt-3" type="submit">Salvar</button>
    </form>
</div>
{% endblock %}
