<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>investimentos</title>
</head>
<body>
    <h1>Listagem de investimentos</h1>
    <button><a href="{% url 'novo_investimento' %}">Novo investimento</a></button>
    <table>
        <tr>
            <th>Id</th>
            <th>Investimento</th>
            <th>Valor</th>
        </tr>
        {% for dado in dados %}
        <tr>
            <td>{{dado.id}}</td>
            <td>{{dado.investimento}}</td>
            <td>{{dado.valor}}</td>
            <td><button><a href="{% url 'detalhes' dado.id %}">Detalhe</a></button></td>
            <td><button><a href="{% url 'editar' dados.id %}">Editar</a></button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>